################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj/Debug
/ConsoleApp1/bin/Debug
/.vs/FirebaseNet/v15/Server/sqlite3
/packages/Newtonsoft.Json.10.0.1
/src/FirebaseNet/bin/Debug/netstandard1.1
